<% unless current_user %>
  <%= link_to "Log In", new_session_url %>
<% else %>
  Hi, <%= current_user.email %>.
  <br>
  <%= link_to "Log Out", session_url, :method => :delete %>
  <p></p>
<% end %>

<div class="row">
  <div class="small-9 columns">
  <% @user.memos.each do |memo| %>
    <% style_bg = memo.bg.nil? ? "" : "background-image: url("+memo.bg+")" %>
    <div class="memo-content" style="<%= style_bg %>">
      <% safe_tags = ['b', 'strong', 'i', 'em', 'u', 'strike', 
                      'div', 'blockquote', 'br', 'img', 'font'] %>
      <%= sanitize memo.text, tags: safe_tags, attributes: %w(style face size color src) %>
    </div>
    <p></p>
    <div class="row">
      <div class="small-6 large-centered columns">
      <div class="small-6 columns">
      <%= button_to "Edit Memo", edit_memo_url(memo), :method => :get, :class => ["button", "small"] %>
      </div>
      <div class="small-6 columns">
      <%= button_to "Delete Memo", memo_url(memo), :method => :delete, :class => ["button", "small"] %>
      </div>
      </div>
    </div>
    <hr>
    <p></p>
  <% end %>  
  </div>
  
  <div class="small-3 columns">
    <%= render './layouts/sidebar' %>
  </div>  
</div>
